graph{
	fill-color: lightgrey;
}

node{
	size: 62px, 62px;
	fill-color: white;
	stroke-mode: plain;
	stroke-color: darkgrey;
	stroke-width: 2;
	text-color: darkgrey;
	text-size: 14;
	text-style: bold;
}

node.visited{
	stroke-color: black;
	text-color: black;
}

node.active{
	stroke-width: 5;
	stroke-color: white;
	fill-color: black;
	text-color: white;
}

edge{
	size: 2;
	fill-color: darkgrey;
	text-color: darkgrey;
	text-size: 14;
	text-style: bold;
	text-alignment: along;
	text-background-mode: rounded-box;
	text-background-color: lightgrey;
	text-padding: 2;
}

edge.visited{
	fill-color: black;
	text-color: black;
}

edge.active{
	size: 5;
	fill-color: white;
	text-color: black;
}

node.color1{
	fill-color: green;
}

node.color2{
	fill-color: red;
}

node.color3{
	fill-color: yellow;
}

node.color4{
	fill-color: aquamarine;
}

node.color5{
	fill-color: orange;
}

node.color6{
	fill-color: royalblue;
}

node.color7{
	fill-color: coral;
}

node.color8{
	fill-color: greenyellow;
}

node.color9{
	fill-color: hotpink;
}

node.color10{
	fill-color: gold;
}

node.color11{
	fill-color: tomato;
}

